# History files
.Rhistory

# Example code in package build process
*-Ex.R
# R data files from past sessions
.RData
# RStudio files
.Rproj.user/
.Rproj.user
Rprof.out

# Cpp files
src/*.o
src/*.so
packrat/lib*/
packrat/src/
